
.gluon-row {
    display:  flex;
}

.gluon-column {
    position: relative;
    aspect-ratio: 1 / 1;
    transform: translate(50%, 50%);
}

.gluon-dot {
    color: red;
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    animation-name: gluon-dot-startup-animation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
    font-family: "Roboto", sans-serif;
    align-items: center;
}

@keyframes gluon-dot-startup-animation {
    from {
        background-color: var(--data-background-color);
    }
    to {
    }
}