:root {
    --data-dot-color: red;
    --data-background-color: black;
    --data-font-color: white
}

body {
    color: var(--data-font-color)!important;
    position: relative!important;
    background-color: var(--data-background-color)!important;
    margin: 0;
    padding: 0;
}

.gluon-container {
    position: absolute!important;
    /*z-index: 1;*/
    width: 100%;
    height: 100%;
}

