@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative!important;
    font-family: "Montserrat", sans-serif;
    /*z-index: 2;*/
    width: 100%;
    height: 100%;
    padding: 50px;
    margin: 50px!important;
}

.header {
    display: flex;
}

.svg-logo > svg {
    height: auto;
    width: 20%;
    padding: 10px;
}

.header {
    width: 100%;
}

.gx-link {
    display: flex;
}

.gx-link > a + a {
    margin-left: 10px;
}

.btn {
  padding: 20px 50px;
  font-size: 20px;
  color: rgb(255, 0, 0);
  border: 2px solid red;
  cursor: pointer;
  overflow: hidden;
  
  background-color: transparent;
}

.btn:hover {
    animation: btnStartHovered 0.5s ease-in forwards;
}

@keyframes btnStartHovered {
    0% {

    }

    100% {
        background-color: red;
        color: black;
    }
}


.btn:not(:hover) {
    animation: btnEndHovered 0.5s ease-in forwards;
}

@keyframes btnEndHovered {
    0% {
        background-color: red;
        color: black;
    }
    100% {

    }
}

